<form action="/authors/add" method="post">
  <label for="">First Name:</label>
  <input type="text" name="firstName"> <br>
  <label for="">Last Name:</label>
  <input type="text" name="lastName"><br>
  <label for="">Nationality:</label>
  <input type="text" name="nationality"><br>
  <label for="">Birthday:</label>
  <input type="date" name="birthday"><br>
  <label for="">Picture Url</label>
  <input type="text" name="pictureUrl"><br>
  <button type="submit">ADD</button>
</form>
