	<form action="/books/add" method="post">
	<label for="">Name:</label>
	<input type="text" name="title">
	{{!-- Make selection available to choose authors from DB --}}
	<label for="">Author:</label>
	<select name="author">
		{{#each authorsFromDB}}
      <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
    {{/each}}
	<label for="">Description:</label>
	<input type="text" name="description">
	<label for="">Rate:</label>
	<input type="number" name="rating">
	<button type="submit">ADD</button>
</form>
<a href="/books">Return</a>