<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <!-- Simple form which will send a GET request -->
        <form action="example.com/user-data">
        <label for="first-name-input">First Name:</label>
        <input id="first-name-input" type="text" name="firstName">
        <input type="submit" value="Save Name">
        </form>
    </div>
    <div>
        <!-- Simple form which will send a POST request -->
        <form action="example.com/user-data" method="post">
        <label for="first-name-input">First Name:</label>
        <input id="first-name-input" type="text" name="firstName">
        <input type="submit" value="Save Name">
        </form>
    </div>
</body>
</html>

<!-- Simple form which will send a GET request -->
<form action="example.com/user-data">
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" name="firstName">

  <input type="submit" value="Save Name">
</form>