{{!-- index.hbs --}}
<div class="cards-container">
	<div class="card" style="width: 18rem;">
		<img class="card-img-top card-img-update" src="https://cdn.nba.net/nba-drupal-prod/2018-01/AS18-Starters-T1-1280x720_0.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Players</h5>
			<p class="card-text">Check the top NBA players, as of Feb 2018.</p>
			<a href="/players" class="btn btn-primary">See Players</a>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top card-img-update" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_OERZ8iocfWup4uRUhjxY_zncbKN02QawHJMqp9qa2RjC6PaI"
			alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Teams</h5>
			<p class="card-text">Here we can check all NBA Teams..</p>
			<a href="/teams" class="btn btn-primary">See Teams</a>
		</div>
		</div>
</div>


