<div class="cards-container">
    <div class="card" style="width: 28rem;">
		<img class="card-img-top" src="http://aubgdaily.com/wp-content/uploads/2017/10/Photo-11.jpg"
			alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">NBA Teams</h5>
			<a href="/" class="btn btn-primary">Home</a>
		</div>
    </div>
</div>
